html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
    overflow-y: auto;
    /* Allow natural scrolling */
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-family: "Lato", serif;
}
.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh
}

.breakdown {
        background-color: #000;
        color: #fff;
        font-family: "Lato", serif;
}

.coding-font {
    font-family: "Fira Code", serif;
    color: white
}

.header {
    max-height: 200px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 2em;
    font-family: "Fira Code", serif;
    color: white;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.footerQuote {
    font-family: "Fira Code", serif;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2em auto;
    width: 100%
}

.email {
    font-size: 1em
}

.custom-card {
    background-color: #D1E231 !important;
    /* color: white !important; */
    margin-bottom: 5px;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.custom-card-content {
    padding: 16px;
}

.custom-card-title {
    font-size: 2.25rem;
    font-family: "Fira Code", serif !important;
}

.custom-card-description {
    color: #000;
    font-family: "Fira Code", serif !important;
 
}

.custom-card-button {
    width: 100% !important;
    color: #D1E231;
    background-color: black !important;
    margin-top: 10px !important;
}
.txt-gradient-aqua-orange-pink {
    background: linear-gradient(to right, #3bcfd4, #fc9305, #f20094);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: bold;
}

.test {
    color: linear-gradient(to right, #3bcfd4, #fc9305, #f20094);
  

}
.gradient-background {
    background: linear-gradient(to right, #3bcfd4, #fc9305, #f20094);
    width: 100%;
    height: 100vh;
    /* Adjust as needed */
}

@media screen and (max-width: 428px) {

    .header {
    max-height: 50px;
    font-size: 1.5em;
    }

    .email {
    font-size: .75em
    }

    .custom-card-content {
        padding: 16px;
    }

    .custom-card-title {
        font-size: 1.25rem !important;
          }

    .custom-card-description {
        font-size: .8em !important;
    }

    .custom-card-button {
        width: 100% !important;
        color: #D1E231;
        background-color: black !important;
        margin-top: 10px !important;
        font-size: .75rem !important;
    }

    .footerQuote {
        text-align: center
    }
}

/* colors */
/* ivory = #edeced */
/* navy = #1b3b6f */
/* yellow = #D1E231 */